<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="org.apache.http.wire" level="warn" />
	<logger name="org.apache.http.conn.ssl" level="warn" />
	<logger name="org.apache.http" level="warn" />
	<logger name="org.apache.commons.beanutils" level="warn" />
	<logger name="org.apache.velocity" level="warn" />
	<logger name="org.springframework.orm" level="warn" />
	<logger name="org.springframework.transaction" level="warn" />
	<logger name="org.springframework" level="warn" />
	<logger name="org.hibernate" level="warn" />
	<logger name="org.hibernate.SQL" level="warn" />
	
	
	<logger name="be.ecornely.gpx.Searcher" level="info" />

	<root level="trace">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>